{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="display-4 mb-4">Système de Pointage Facial</h1>
        <p class="lead">Bienvenue dans l'application de pointage automatique par reconnaissance faciale et détection de geste.</p>
        <hr class="my-4">
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a href="/attendance" class="btn btn-primary btn-lg px-4 gap-3">Interface Pointage</a>
            <a href="/counting" class="btn btn-outline-secondary btn-lg px-4">Interface Comptage</a>
        </div>
    </div>
</div>
{% endblock %}
